<ul class="breadcrumb">
    <li>
    	<%= link_to "Início", root_path %> <span class="divider">/</span>
    </li>
    <li class="active">
    	<%= link_to "Contato com a Federação", site_federacao_path %>
    </li>
</ul>
<h2>Contato com a Federação</h2>
<p>Quer entrar em contato com a Federação?</p>
<div class="span7">
	<pre>
		<div class="span6">Presidente: Elias - Email: elias@mail.com</div>
		<div class="span6">Presidente: Elias - Email: elias@mail.com</div>
		<div class="span6">Presidente: Elias - Email: elias@mail.com</div>
		<div class="span6">Presidente: Elias - Email: elias@mail.com</div>
		<div class="span6">Presidente: Elias - Email: elias@mail.com</div>
	</pre>
</div>
